# Server
PORT=3001
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/monorepo?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# Client
CLIENT_URL="http://localhost:3000"
